.bodyclass{
    background-image: url("https://image.freepik.com/free-vector/halloween-background-flat-design_52683-43845.jpg");
}

.text{
    text-align: center;
    border: 1px;
    border-radius:1px;
    background-color: rgb(206, 94, 2);
    width:550px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
}

.textbox{
    text-align: center;
    border: 1px;
    border-radius:1px;
    background-color: rgb(206, 94, 2);
    margin-left: auto;
    margin-right: auto;
    width: 999px;;
    height:auto;
    font-size:35px;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(4em + 1px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid rgb(206, 94, 2);
    background: rgb(206, 94, 2);
    resize: none;
    outline: none;
    height: 53.6666px;
    width: 200.6666px;
  }
  
  input[type="text"][required]:focus {
    border-color: rgb(255, 144, 53);
  }
  input[type="text"][required]:focus + label[placeholder]:before {
    color: rgb(255, 255, 255);
  }
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: .2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
  }
  
  input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  
  input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  }
  
  input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    /* background-image: linear-gradient(to bottom, #fff, #fff); */
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
.centering {
    margin-left: 850px;
}