body {
   
    margin: 0%;
}

img {
    width: 10%;
}
.flex-column {
    width: 21.9%;
    height: 100vh;
    float: right;
    background-image: url("theme.jfif");
    color: red;
}
.room {
    width: 78.1%;
    height: 100%;
}